Source: grml-console
Section: grml
Priority: optional
Maintainer: Michael Prokop <mika@grml.org>
Build-Depends:
 asciidoctor,
 debhelper-compat (= 12),
Standards-Version: 4.6.2
Rules-Requires-Root: no
Homepage: https://github.com/grml/grml-console
Vcs-Git: https://github.com/grml/grml-console.git
Vcs-Browser: https://github.com/grml/grml-console
Origin: Grml
Bugs: mailto:bugs@grml.org

Package: grml-console
Architecture: all
Conflicts:
 grml-etc-core (<< 0.20.0~)
Depends:
 ${misc:Depends},
Description: Grml Console Configuration
 Provide configuration files for zsh, vim,
 tmux and screen for the "Grml Console"-style setup.
