Source: grml-scripts-core
Section: utils
Priority: optional
Maintainer: Michael Prokop <mika@grml.org>
Build-Depends: debhelper-compat (= 12), dietlibc-dev
Standards-Version: 3.9.4
Homepage: http://git.grml.org/?p=grml-scripts-core.git
Vcs-git: git://git.grml.org/grml-scripts-core.git
Vcs-Browser: http://git.grml.org/?p=grml-scripts-core.git
Origin: Grml
Bugs: mailto:bugs@grml.org

Package: grml-scripts-core
Architecture: any
Depends: ${misc:Depends}, less, dash, perl, screen, grml-etc-core, lockfile-progs
Conflicts: grml-scripts (<< 1.4.3)
Description: reusable core scripts for the Grml system
 This package includes some core scripts for the Grml system.
 .
 Currently, this package includes code2color, cpu-screen, ip-screen
 and lesspipe.sh, a more full-featured replacement for the standard
 Debian lesspipe.
 .
 This package can be used on plain Debian systems as well. It is
 intended as a complement to grml-etc-core.
 .
 For more details take a look at the grml-scripts-core manpage.
